# Build output
/**/obj/
/**/bin/

# VS settings
/src/.vs/
/.vscode/

# NuGet packages
*.nupkg
*.snupkg

# File GDB lock files
*.sr.lock
# Word temp files
~$*.docx

# User's own R# settings
*.DotSettings.user

# Expanded test data:
data/TestPro32.gdb/
data/TestGeom.gdb/
